In [1]:
data_path="/Users/xiaolin/Desktop/dataAnalysis/ctrip/test.csv"

   a      b    c
0  1   True  1.0
1  2  False  2.0
2  1   True  1.0
3  2  False  2.0
4  1   True  1.0
5  2  False  2.0

In [3]:
df.dtypes

a      int64
b       bool
c    float64
dtype: object

In [11]:
df2=df.select_dtypes(include=["int"]).apply(pd.to_numeric, downcast="unsigned")
df1=df.select_dtypes(include=["float"]).apply(pd.to_numeric, downcast="float")
df3=pd.concat([df2,df1],axis=1)

In [12]:
df3.dtypes

a      uint8
c    float32
dtype: object